body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*Global*/
	.container{
		width: 80%;
		margin: auto;
		overflow: hidden;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	h2{
		font-size: 35px;
		font: Arial, Helvetica, sans-serif;
	}
/*Header*/
	header{
		background: #35424a;
		color: #ffffff;
		padding-top: 30px;
		min-height: 70px;
		border-bottom: #e8491d 3px solid;
	}

	header a{
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 26px;
	}

	header li{
		float: left;
		display: inline;
		padding: 0 20px 0 20px;
	}

	header #branding{
		float: left;
	}
	header #branding h1{
		margin: 0;
	}

	header nav{
		float: right;
		margin-top: 10px;
	}

	header .highlight, header .current a{
		color: #ff0066;
		font-weight: bold;
	}

	header a:hover{
		color: #cccccc;
		font-weight: bold;
	}


	#what {
		font-size: 15px;
	}


	a {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}


	#burrito {
		font-size: 18px;
		font: helvetica;
	}

	.column {
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 10px;
	}

	.image {
		margin: auto;
		width: 50%;
		padding: 30px;
	}

	.description{
		margin: auto;
		width: 50%;
		padding: 30px;
	}